<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.celestialphineas.sanxing"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".UIOperateItemActivities.NewItemCreation.CreateNewTaskActivity"
            android:theme="@style/TasksTheme"/>
        <activity
            android:name=".UIOperateItemActivities.EditItem.EditTaskActivity"
            android:theme="@style/TasksTheme"/>
        <activity
            android:name=".UIOperateItemActivities.NewItemCreation.CreateNewHabitActivity"
            android:theme="@style/HabitsTheme"/>
        <activity
            android:name=".UIOperateItemActivities.EditItem.EditHabitActivity"
            android:theme="@style/HabitsTheme"/>
        <activity
            android:name=".UIOperateItemActivities.NewItemCreation.CreateNewTimeLeftActivity"
            android:theme="@style/TimeLeftTheme"/>
        <activity
            android:name=".UIOperateItemActivities.EditItem.EditTimeLeftActivity"
            android:theme="@style/TimeLeftTheme"/>
        <service android:name=".timer.MyService"
            android:process="io.github.celestialphineas.sanxing.timer.myservice">
        </service>
        <receiver android:name=".timer.AlarmReceiver">
        </receiver>
    </application>

</manifest>